header{
    position: absolute;
    width: 100%;
    z-index: 1;
    align-self:center;
}
.header-row{
    display: flex;
   
}
.logo-wrapper{
flex:1;
padding:0px 0px 0px 15px;
}




.hidden-menu {
    display: flex;
    list-style:none;
    @media(max-width:767px){
        display: block;
        list-style:none;   
    position: fixed;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    background-color:#d4f0fc;
    height: 100%;
   top: 0;
   left: -100%;
  transition: left .2s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;

}
    li{
         padding:0px 17.5px;
         @media(max-width:767px){
             text-align: center;
            
         }

        
       a{
            font-size: 18px;
        font-family: "Roboto";
        color: rgb(59, 57, 68);
        line-height: 1.333;
        text-decoration: none;
        border-bottom: dotted;
            
            @media(max-width:767px){
                font-size: 20px;
            }
           
        }
    }
  }
  
  .hidden-menu-ticker {
    display: none;
  }
  
  .btn-menu {
    color:black;
    padding: 7px;
    position: fixed;
    top: 5px;
    right: 5px;
    cursor: pointer;
    transition: left .23s;
    z-index: 3;
    width: 25px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    display: none;
    @media(max-width:767px){
        display: block;
    }
  }
  .btn-menu span {
    display: block;
    height: 3px;
    background-color:black;
    margin: 5px 0 0;
    transition: all .1s linear .23s;
    position: relative;
  }
  .btn-menu span.first {
    margin-top: 0;
  }
  
  .hidden-menu-ticker:checked ~ .btn-menu {
   right: 20
   px;
  }
  .hidden-menu-ticker:checked ~ .hidden-menu {
    left: 0;
  }
  .hidden-menu-ticker:checked ~ .btn-menu span.first {
    -webkit-transform: rotate(45deg);
    top: 8px;
    
  }
  .hidden-menu-ticker:checked ~ .btn-menu span.second {
    opacity: 0;
  }
  .hidden-menu-ticker:checked ~ .btn-menu span.third {
    -webkit-transform: rotate(-45deg);
    top: -8px;    
  }
  
 

   