
.presentation_wrapper{
display: flex;
height: 340px;}
.presetation{
background-image: url(../img/3block/bg.png);
background-size: cover;
}
.presentation_title{
    font-size: 60px;
    font-family: "Roboto";
    color: rgb(59, 57, 68);
    font-weight: bold;
    line-height: 0.667;
    text-align: left;
    span{
        color:#5774b8;
    }

}
.presentation_text{
   
    font-size: 28px;
    font-family: "Roboto";
    color: #3b3944;
    text-align: left;
    margin: 0px 0px 50px 0px;
   
    
      
}
.presentation_butt{
    width: 33.03%;
    padding: 7.5px 50px 7.5px 50px;
    font-size: 28px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 0.852;
    text-align: center;
    background-color:#31a1d2;
    border-radius: 10px;
    a{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
}
.presentation_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.presentation_img{
    margin-top: -25px;
    z-index: 1;
}
    

  
  